main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
}

body {
    background-image: url("./background1.png");
}
.project {
    width: 40vw;
    min-height:30vh;
    margin: 10px;
    border-radius: 25px;
}

.project p {
    margin: 10%;
}

.project-title {
    text-align: center;
}
.project-title a {
    color: #56957c;
}

.takeaways {
    font-weight: bold;
}

#portfolio {
    color:#6cb391;
    font-weight: bolder;
}

#viewing-party {
    background-color: #d4ffff;
}
#swap-meet {
    background-color: #e2deff;
}
#solar-system {
    background-color: #d2e4f8;
}
#adagrams {
    background-color: #cefadd;
}
#task-list {
    background-color: #fdddf9;
}
#personal-portfolio {
    background-color: #fbcdd2 ;
}