main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.project {
    width: 40vw;
    max-height: 45vh;
    min-height:30vh;
    margin: 10px;
    border-radius: 25px;
}

.project p {
    margin: 10%;
}

.project-title {
    text-align: center;
}
.project-title a {
    color: #56957c;
}

.takeaways {
    font-weight: bold;
}

#portfolio {
    color:#6cb391;
    font-weight: bolder;
}

#viewing-party {
    background-color: #F1F6F6;
}
#swap-meet {
    background-color: #e8faf8;
}
#solar-system {
    background-color: #d2e4f8;
}
#adagrams {
    background-color: #e4fcec;
}
#task-list {
    background-color: #fff6fe;
}
#personal-portfolio {
    background-color: #eeedff ;
}